<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.659611 1.46126 0.690194" rpy="0.11759 -0.01614 -1.79307" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.659611 1.46126 0.690194   0.0429777 0.0408715 -0.78009 0.62285 edo_base_link camera_side_link" />
</launch>
